*{
   margin: 0;
    padding: 0;
}

.main-container{
    width: 1140px;
    height: 500px;
    
    
    
    
}

.navbar {
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}




.banner-container {
    background-color: pink;
    border-radius: 20px;
    
    display: flex;
    margin: 20px;
    
}



.left-banner-section {
    background-color: pink;
    padding: 50px;
    display: flex;
    flex-direction: column;
    
    justify-items: center;
    gap: 20px;
    border-radius: 20px;
    
}


.price{
    color: deeppink; 
    
}

.banner-btn{
    width: 150px;
    padding: 10px 40px;
background-image: linear-gradient(to top, deeppink,pink);
    border-radius: 5px;
    border: none;
    color:#fff;
    cursor: pointer;
    
}
.category-heading,
.shoe-heading,
.backpack-heading{
       margin: 20px 0px;
   }
  .category-section,
 .shoe-section,
.backpack-section{
      width: 100%;
  }
   
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 20px;
    


}
.card {
    display: flex;
    align-items: center;
    

width: 33%;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: space-between;
  
    
}

    

.bag{
    background-image: linear-gradient(to top,deeppink,pink);
    color: #fff;
}
.watch{
background-color: red;
    color: #fff;
}
.shoes {
    background-color: blueviolet;
    color: #fff;
}
.shoe-card{
    flex-direction: column;
    border: 1px solid grey;
}
.shoe-btn{
    background-color: black ;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.newsbar-section{
    background-color: pink;
    border-radius: 20px;
    
    flex-direction: column;
    padding: 100px 150px;
    justify-content: center;
    margin: 100px;
    align-items: center;
    gap: 20px;
    
   
    
    
}
.newsbar-section p{
    margin: 10px 0;
    color: grey;
}
.newsbar-sectionfrom{
    
  display: flex;
  
}
#email{
    padding: 10px 0;
    text-align: center;
    border-radius: 5px 0 0 5px;
}
.btn-send{
    background-color: deeppink;
    padding: 10px 0;
    color: #fff;
}
@media screen and ( max-width:576px){
  . main-container{
     mini-width : 400px;}
     }
